/irm-sa/bin
/irm-sa/target
/irm-sa/doc
/irm-sa/.settings
/irm-sa/.classpath

/cz.cuni.mff.d3s.jdeeco.irm-sa.demo/bin
/cz.cuni.mff.d3s.jdeeco.irm-sa.demo/target
/cz.cuni.mff.d3s.jdeeco.irm-sa.demo/doc
/cz.cuni.mff.d3s.jdeeco.irm-sa.demo/.settings
/cz.cuni.mff.d3s.jdeeco.irm-sa.demo/.classpath

/irm-sa.strategies/bin
/irm-sa.strategies/target
/irm-sa.strategies/doc
/irm-sa.strategies/.settings
/irm-sa.strategies/.classpath

/irm-sa.strategies.demo/bin
/irm-sa.strategies.demo/target
/irm-sa.strategies.demo/doc
/irm-sa.strategies.demo/.settings
/irm-sa.strategies.demo/.classpath